<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - What to Eat Today</title>
</head>
<body>
    <h2>Login</h2>
    <form id="login-form" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

     <form action="/signup" method="get">
        <button type="submit">Sign Up Instead?</button>
    </form>

</body>
</html>
