<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up & Set Preferences</title>
        <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

<h2>Sign Up and Set Preferences</h2>
{{#if error}}
<div style="color: red;">{{error}}</div>
{{/if}}
<form id="signup-preferences-form" action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="dietaryRestrictions">Dietary Restrictions (comma-separated):</label>
    <input type="text" id="dietaryRestrictions" name="dietaryRestrictions" required>
    <br>
    <label for="dislikedIngredients">Disliked Ingredients (comma-separated):</label>
    <input type="text" id="dislikedIngredients" name="dislikedIngredients" required>
    <br>
    <label for="preferredCuisines">Preferred Cuisines (hold ctrl to select many):</label>
    <select id="preferredCuisines" name="preferredCuisines" multiple>
        <option value="African">African</option>
        <option value="Asian">Asian</option>
        <option value="American">American</option>
        <option value="British">British</option>
        <option value="Cajun">Cajun</option>
        <option value="Caribbean">Caribbean</option>
        <option value="Chinese">Chinese</option>
        <option value="Eastern European">Eastern European</option>
        <option value="European">European</option>
        <option value="French">French</option>
        <option value="German">German</option>
        <option value="Greek">Greek</option>
        <option value="Indian">Indian</option>
        <option value="Irish">Irish</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Mexican">Mexican</option>
        <option value="Middle Eastern">Middle Eastern</option>
        <option value="Spanish">Spanish</option>
        <option value="Thai">Thai</option>
        <option value="Vietnamese">Vietnamese</option>          
         </select>
    <br>
    <label for="minimumProtien">Minimum Protein (g):</label>
    <input type="number" id="minimumProtien" name="minimumProtien" min="0" required>
    <br>
    <input type="submit" value="Sign Up">
</form>

 <form action="/login" method="get">
        <button type="submit">Login instead?</button>
    </form>
</body>
</html>
